@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-size: var(--white-color);
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

:root {
    --sidebar_bg: #1F2D43;
    --body-bg: #172032;
    --base-elements: #0069FF;
    --base-text-primary: #ffffff;
    --base-text-secondary: #1F2D43;
    --base-surface: #1F2D43;
    --primary-solid: #0069FF;
    --primary-gradient: linear-gradient(180deg, #2550E5 30.88%, #0069FF 98.99%);
    --base-text-placeholder: #787A80;
    --base-divider: #6070AB;
    --dropdown-box-shadow: 0 0.275rem 1.25rem rgba(10, 11, 12, 0.05), 0 0.25rem 0.5625rem rgba(10, 11, 12, 0.03)
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

.container {
    padding: 40px 200px;
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    background: var(--primary-gradient);
    z-index: 10;
}

header .container {
    padding: 0 200px;
}

header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

}

header .menu_list {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

header .menu_list li {
    list-style-type: none;
    color: var(--base-text-primary);
    font-size: .875rem;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    position: relative;
}

header .menu_list li::after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-color: var(--base-text-primary);
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.3s;
}

header .menu_list li:hover:after {
    width: 100%;
}

header .menu_list li img {
    width: 15px;
    transform: translateY(1px);
}

header .menu_list li a {
    color: var(--base-text-primary);
    font-size: .875rem;
    font-weight: 400;
    text-decoration: none;
}

.btn {
    color: var(--base-text-primary);
    background-color: var(--base-elements);
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover{
    color:var(--base-elements);
    background-color: var(--base-text-primary);
    border:1px solid var(--base-elements)
}

header .sub_menu {
    background-color: var(--base-text-primary);
    position: absolute;
    top: 180%;
    left:100%;
    padding: 20px;
    max-height: 200px;
    width: 600px;
    gap: 20px;
    border-radius: 5px;
    box-shadow: var(--dropdown-box-shadow);
    display: none;
    transition: height 0.9s ease;
}

header .sub_menu._active {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

header .sub_menu li a {
    color: var(--base-text-secondary);
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

header .sub_menu li span {
    background-color: #f6f7f8;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.main_banner {
    width: 100%;
    margin-top: 60px;
    height: 500px;
    background-color: rgba(245, 245, 245, 0.5);
    position: relative;
}

.main_banner .elipse {
    position: absolute;
}

.main_banner .elipse.right {
    right: 10%;
    top: -30%;
}

.main_banner .elipse.left {
    top: -50%;
    left: 0%;
}

.main_banner .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.main_banner .main_banner-descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    height: 100%;
    width: 50%;
    z-index: 5;
}

.main_banner .main_banner-descr .title {
    font-size: 5rem;
}

.main_banner .main_banner-descr ul li {
    list-style-type: none;
    font-size: 1.5rem;
}

.main_banner .main_banner-descr ul li::before {
    content: '\2013';
    margin-right: 15px;
}

.main_banner .main_banner-descr .btn {
    padding: 15px 50px;
}

.main_banner .main_banner-img {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    z-index: 1;
}

.breadscrump {
    color: var(--base-text-secondary);
    font-size: 1.125rem;
}

.how_to {
    position: relative;
}

.how_to .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.how_to-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 5;
}

.how_to-content .title {
    font-size: 3rem;
}

.how_to-content ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    width: 450px;
}

.how_to-content ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}


.how_to-content ul li .numeric {
    font-size: 3rem;
    color: var(--base-elements);
    position: relative;
}

.how_to-content ul li .numeric:after {
    content: "";
    display: block;
    height: 2px;
    width: 30%;
    background-color: var(--base-elements);
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.3s;
}

.how_to img {
    width: 40%;
    transform: translateY(-25px);
    z-index: 5;
}

.grey_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: #DCDCDC;
    border-radius: 150px 150px 0 0
}

.appointment_section {
    background: linear-gradient(45deg, #2550E5 30.88%, #0069FF 98.99%);
}

.appointment_section .container {
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 30px;
}

.appointment_section .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appointment_descr {
    width: 30%;
}

.appointment_descr .title {
    font-size: 3rem;
    color: var(--base-text-primary);
    margin-bottom: 20px;
}

.appointment_descr .subtitle {
    font-size: 1.275rem;
    color: var(--base-text-primary);
    margin-bottom: 50px;
}

.appointment_descr .btn {
    background-color: var(--base-text-primary);
    color: var(--base-elements);
    font-weight: 600;
    padding: 15px 50px;
}

.appointment_descr .btn:hover{
    color: var(--base-text-primary);
    background-color: var(--base-elements);
}


.calendly-inline-widget {
    width: 100%;
    height: 660px;
    overflow-y: hidden;
}

.calendly-inline-widget {
    width: 70%;
    overflow-y: hidden !important;
}

._cUP1np9gMvFQrcPftuf._Y8HCTxgNkwxXcG_DCXx {
    padding: 0 !important;
}

._cUP1np9gMvFQrcPftuf._Y8HCTxgNkwxXcG_DCXx {
    margin: 0px !important;
}

.calendly-inline-widget iframe {
    width: 100% !important;
    overflow: hidden;
}

.partners_section {
    width: 100%;
    border-radius: 0 0 100px 100px;
    background-color: #DCDCDC;
}

.partners_section .container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.partners_section .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.partner_item {
    padding: 40px 25px;
    border-radius: 30px;
    border: 1px solid #C4C4C4;
    width: 20%;
}

.partner_item:last-child {
    padding: 30px 25px;

}

.partner_item img {
    width: 100%;
}

.module_section {
    width: 100%;
}

.module_section .title{
    color: var(--base-text-secondary);
    font-size: 3rem;
    margin-bottom: 20px;
}

.module_section .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.module_section .module_descr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    min-height: 500px;
}

.module_section .details {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid var(--base-divider);
    border-radius: var(--border-radius);
    overflow: hidden; /* Добавлено для использования max-height */
    max-height: 0; /* Скрыто по умолчанию */
    padding: 0 20px;
    position: relative;
    line-height: 142%;
    color: #000;
    font-size: 1rem;
    transition: max-height 0.8s ease-out; /* Анимация открытия */
}

.module_section .details[open] {
    max-height: 1000px; /* Высота, которую вы считаете достаточной */
}

.module_section summary {
    font-weight: 400;
    font-size: 1.175rem;
    line-height: 142.69%;
    outline: 0;
    cursor: pointer;
    display: block;
    margin-right: -10px;
    opacity: 0.8;
    position: relative;
    padding: 20px;
    padding-left: 25px;
    transition: transform 0.8s;
}

.module_section details p {
    margin-left: 25px;
    color: var(--base-text-placeholder);
}

.module_section summary::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 17px; /* Уменьшенная ширина */
    height: 1.7px;
    background-color:#5741D9; /* Цвет плюса */
    transition: transform 0.3s;
}

.module_section summary::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(90deg);
    width: 17px; /* Уменьшенная ширина */
    height: 1.7px;
    background-color: #5741D9; /* Цвет плюса */
}

.module_section details[open] summary::after {
    transform: translateY(-50%) rotate(0deg);
}

.module_section .btn{
    padding: 15px 50px;
}

.module_img{
    width: 35%;
    position: absolute;
    left: 60%;
    top: 0px;
}

.module_img img{
    width: 90%; /* ваше значение для ширины */
    height: 50%; /* ваше значение для ширины */
    display: none;
    transform: scale(0);
    z-index: 5;

}

.module_img img._active{
    display: block;
    transform: scale(1);
}
.module_section .shape{
    width: 45%;
}


.money_provider_section .wrapper{
    display: flex;
    justify-content: space-between;
}

.money_provider_section .title{
    display: flex;
    align-items: center;
    width: 30%;
}
.money_provider_section .title h2{
    font-size: 3rem;
}

.money_provider_section .provider_img{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 50%;
}
.money_provider_section .provider_img-item{
    max-width: 180px;
}
.money_provider_section .provider_img-item img{
    width: 100%;
}

.core__module .title{
    font-size: 3rem;
    margin: 40px 0;
}

.core__module .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.core__module ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.core__module .item_title{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.item_title.visible {
    opacity: 1;
    transform: translateY(0);
}

.core__module span {
    background-color: #f6f7f8;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.core__module .item_title img{
    width: 40px;
}

.core__module .item_title .item_title{
    display: inline-block;
    width: 70%;
    font-size: 2rem;
}

.core__module .item_title .item_descr{
    color: var(--base-text-placeholder);
    width: 70%;
}

.main_banner-img img.payments{
    max-width: 500px;
}

.transfers__module .title{
    margin-top: 40px;
    font-size: 3rem;
    position: relative;
    text-align: center;
    padding-bottom: 10px;
}

.transfers__module .title::after{
    content: "";
    display: block;
    height: 5px;
    width: 15%;
    background-color: var(--base-elements);
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%); 
    transition: width 0.3s;
    border-radius: 15px;
}

.transfers__module .subtitle{
    text-align: center;
}

.transfers__module .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.transfers__module ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.transfers__module .item_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    width: 30%;
    padding: 20px;
    border-radius: 5px;
}


.transfers__module .item_title img {
    width: 35px;
}

.transfers__module .item_title .item_title{
    width: 100%;
}

.transfers__module .item_title .item_descr {
    font-size: 14px;
    color: var(--base-text-placeholder)
}

.transfers__module .item_title.colored {
    background-color: var(--primary-solid);
    color: var(--base-text-primary)
}

.transfers__module .item_title.colored .item_descr{
    color: var(--base-text-primary) 
}

.transfers__module .btn{
    padding: 15px 50px;
}


.crypto_module .title, .remittance-module .title{
    margin-top: 40px;
    font-size: 3rem;
}


.crypto_module .wrapper, .remittance-module .wrapper{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top:40px;
}

.crypto_module .wrapper ul, .remittance-module ul{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.crypto_module .module_item, .remittance-module .module_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crypto_module .module_item.reverse, .remittance-module .module_item.reverse {
    flex-direction: row-reverse;
}

.crypto_module .module_item .item_text, .remittance-module .module_item .item_text{
    width: 45%;    
}

.crypto_module .module_item .item_text .item_title, .remittance-module .module_item .item_text .item_title{
    font-size: 2rem;
    margin-bottom: 25px;
}

.crypto_module .module_item .item_text .item_descr, .remittance-module .module_item .item_text .item_descr{
    color: var(--base-text-placeholder);
    margin-bottom: 50px;
    width: 60%;
}


.crypto_module .module_item .item_text .btn.uncolored, .remittance-module .module_item .item_text .btn.uncolored{
    color: var(--primary-solid);
    background-color: var(--base-text-primary);
    border: 1px solid var(--primary-solid);
    margin-right: 20px;
}

.crypto_module .module_item .item_images, .remittance-module .module_item .item_images{
    position: relative;
    width: 45%;
}


.crypto_module .module_item.crypto_acc .item_images img:nth-child(1){
    position: absolute;
    top: -10%;
    left:-10%;
    z-index: 1;
}

.crypto_module .module_item.crypto_acc .item_images img:nth-child(2){
    position: absolute;
    top: 8%;
    left:-2%;
    z-index: 2;
}

.crypto_module .module_item.crypto_acc .item_images img:nth-child(3){
    position: absolute;
    bottom: 0%;
    right:-5%;
    z-index: 3;
}

.crypto_module .module_item.reverse .item_text{
    transform: translateX(100px);
}


.crypto_module .module_item.crypto_exch .item_images img:nth-child(1){
    position: absolute;
    top: 0%;
    left:-5%;
    z-index: 1;
}

.crypto_module .module_item.crypto_exch .item_images img:nth-child(2){
    position: absolute;
    top: 0%;
    right:15%;
    z-index: 3;
}

.crypto_module .module_item.crypto_exch .item_images img:nth-child(3){
    position: absolute;
    bottom: 0%;
    left:0%;
    z-index: 2;
}


.crypto_module .module_item.crypto_dep .item_images img:nth-child(1){
    position: absolute;
    top: 10%;
    left:5%;
    z-index: 2;
}

.crypto_module .module_item.crypto_dep .item_images img:nth-child(2){
    position: absolute;
    top: 15%;
    right:10%;
    z-index: 3;
}

.crypto_module .module_item.crypto_dep .item_images img:nth-child(3){
    position: absolute;
    top: 43%;
    left:0%;
    z-index: 1;
}

.crypto_module .module_item.crypto_dep .item_images img:nth-child(4){
    position: absolute;
    top: 50%;
    right:10%;
    z-index: 2;
}

.crypto_module .module_item.crypto_aml .item_images img:nth-child(1){
    position: absolute;
    top: 15%;
    left:0%;
    z-index: 2;
}

.crypto_module .module_item.crypto_aml .item_images img:nth-child(2){
    position: absolute;
    top: 42%;
    right:40%;
    z-index: 3;
}


.crypto_module .module_item.crypto_scrochain .item_images img:nth-child(1){
    position: absolute;
    top: -10%;
    right:0%;
    z-index: 2;
}

.crypto_module .module_item.crypto_scrochain .item_images img:nth-child(2){
    position: absolute;
    top: 28%;
    left:0%;
    z-index: 1;
}

.crypto_module .module_item.crypto_scrochain .item_images img:nth-child(3){
    position: absolute;
    bottom:10%;
    right:10%;
    z-index: 2;
}


.module_item .item_text,
.module_item .item_images,
.module_item.reverse .item_text,
.module_item.reverse .item_images {
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
}

.module_item.in-view .item_text,
.module_item.in-view .item_images {
    opacity: 1;
    transform: translateX(0);
}

.module_item.reverse.in-view .item_text,
.module_item.reverse.in-view .item_images {
    opacity: 1;
    transform: translateX(0);
}

.module_item .item_text,
.module_item .item_images {
    transform: translateX(-50%);
}


.module_item.reverse .item_text,
.module_item.reverse .item_images {
    transform: translateX(50%);
}


.remittance-module .module_item .item_images img:first-child{
     position: absolute;
    bottom:20%;
    right:20%;
    z-index: 2;
    max-width: 630px;
}

.remittance-module .module_item .item_images img.fx-rate{
    bottom:0%;
    right:20%;
    max-width: 530px;
}


.compliance-module .title{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 25px;
    margin-top: 40px;
}

.compliance-module .wrapper{
    display: flex;
    flex-direction: column;
}

.compliance-module .compliance_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.compliance-module .compliance_list li{
    padding: 10px 40px;
    color: var(--base-text-placeholder);
    border: 1px solid var(--base-text-placeholder);
    border-radius: 5px;
    cursor: pointer;
}

.compliance-module .compliance_list li._active{
    color: var(--base-elements);
    border: 1px solid var(--base-elements);
}



.compliance_descr .compliance_item{
    display: none;
}

.compliance_descr .compliance_item._active{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.compliance_descr .compliance_item .item_text{
    width: 45%;    
}

.compliance_descr .compliance_item .item_text .item_title{
    font-size: 2rem;
    margin-bottom: 25px;
}

.compliance_descr .compliance_item .item_text .item_descr{
    color: var(--base-text-placeholder);
    margin-bottom: 50px;
    width: 60%;
}


.compliance_descr .compliance_item .item_text .btn.uncolored{
    color: var(--primary-solid);
    background-color: var(--base-text-primary);
    border: 1px solid var(--primary-solid);
    margin-right: 20px;
}

.compliance_descr .compliance_item .item_images{
    position: relative;
}

.compliance_descr .compliance_item .item_images img:first-child{
    position: absolute;
    top: 10%;
   left:0%;
   z-index: 2;
   max-width: 730px;
}

footer{
    background: var(--primary-gradient)
}

footer .wrapper{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid var(--base-text-primary);
    padding: 40px 0;
}

.footer_links{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

footer ul li {
    list-style-type: none;
    color: var(--base-text-primary);
    opacity: 0.8;
    margin-bottom: 8px;
}

footer ul li a:hover{
    opacity: 1;
}

footer ul li a{
    color: var(--base-text-primary);
    opacity: 0.8;
}

footer ul li.title{
    font-weight: 600;
    margin-bottom: 20px;
    opacity: 1;
}